[Unit]
Description=Rancher Service
After=docker.service
Requires=docker.service
 
[Service]
TimeoutStartSec=0
Restart=always
ExecStart=/usr/bin/docker run --name %n --restart=unless-stopped -p 80:80 -p 443:443 rancher/rancher:latest
 
[Install]
WantedBy=multi-user.target
